.App {

}

.App-logo {
  height: 5rem;
  pointer-events: none;
}

.App-header {
  height: 10vh;
  min-height: 7.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
